 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’m a software developer, I live in Dominican Republic, Santo Domingo. I work developing mobile applications, <strong>native Android (Java <i class="fa fa-heart" aria-hidden="true"></i>)  apps</strong> are my specialty, also I've been working on iOS and the web for a long while.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am a big fan of <strong>software and technology</strong>. When I not having quality time with <strong>family and friends</strong>. I am having fun coding, assisting to conferences, contributing to open source projects, <strong>learning new stuff and sharing what I have learned <i class="fa fa-heart" aria-hidden="true"></i>. </strong>  </p>
                </div>
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                   <br/>
                    <p>I am part of a team of software development professionals called <a href="http://wearecode.net/">[wearecode]</a><p>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h4><u>TALKS</u></h4>
                        <div  class="text-center">
                            <p class="talk">-<a href="http://droidcon.do/">DroidCon</a> Santo Domingo Mar 3th 2017  <a href="/img/resources/presentations/DroidCon_Santo_Domingo_2017_Android_Development_the_Right_Mindset.pdf">[Android development the right mindset]</a><p>    
                            <p class="talk">-Google I/O Extended ITLA May 18th 2016  <a href="https://www.eventbrite.com/e/google-io-extended-itla-tickets-25177241808#">[Intro to FireBase]</a><p>    
                            <p class="talk">-<a href="http://codecampsdq.com/">CodeCampSDQ 5.0</a> Santo Domingo Jan 30th 2016  <a href="http://codecampsdq.com/?page_id=7#itinerario">[From Zero to an Android expert]</a><p>    
                        </div>
                    </div>
                    
                </div>

            </div>
        </div> 
    </section>