<section id="contact">
    <div class="container">

        <!-- Feedback Section -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Feedback</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 portfolio-item" id="feedback4">
                <blockquote class="blockquote ">
                    <p class="mb-0">Very pro-active communicator. Extremely organized. Excellent recommendations for architecture, performance,
                        and layouts. Would definitely hire Arturo again.
                    </p>
                    <footer class="blockquote-footer">
                        <a href="https://www.swebdevelopment.com/" target="_blank">Taylor Ansley, Sweb Development</a>.
                        <cite title="Sep 2017-Dec 2017">Apr 2018-May 2018</cite>
                    </footer>
                </blockquote>
            </div>

            <div class="col-sm-6 portfolio-item" id="feedback1">
                <blockquote class="blockquote ">
                    <p>Arturo was extremely cooperative. He has been part of our team for a few months and I would like to work
                        with him again in the future if we have the opportunity. I strongly recommend him for Android native
                        projects.
                    </p>

                    <footer class="blockquote-footer">
                        <a href="https://eyeseetea.com/" target="_blank">Ignacio Foche, EyeSeeTea</a>.
                        <cite title="Nov 2017-Apr 2018">Nov 2017-Apr 2018</cite>
                    </footer>
                </blockquote>

            </div>

            <div class="col-sm-6 portfolio-item " id="feedback2">
                <blockquote class="blockquote ">
                    <p>Arturo was a great contractor to work with and delivered quality work. His communication was top notch.
                        Would hire again.
                    </p>
                    <footer class="blockquote-footer">
                        <a href="https://www.crunchbase.com/person/jeremy-hubert" target="_blank" target="_blank">Jeremy Baker, Retail Zipline</a>.
                        <cite title="Oct 2017-Dec 2017">Oct 2017-Dec 2017</cite>
                    </footer>
                </blockquote>
            </div>

            <div class="col-sm-6 portfolio-item" id="feedback3">
                <blockquote class="blockquote">
                    <p class="mb-0"> Good professional and comunicator. Nice and clean code, adaptable to the needs of our company, and to
                        the daily changes of the project. Great expereince in UpWork.
                    </p>
                    <footer class="blockquote-footer">
                        <a href="http://www.skitude.com/" target="_blank">Marc Soler, Skitude Technologies</a>.
                        <cite title="Sep 2017-Dec 2017">Sep 2017-Dec 2017</cite>
                    </footer>
                </blockquote>
            </div>
            <!-- Feedback Section -->
        </div>
    </div>
</section>